node_modules/
.env
.env.*
!.env.example
dist/

# Terraform
infra/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Logs
*.log

# Expo / React Native
.expo/
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
